DB_URL=postgresql://
BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_SENSOR_BAR_CHARTS_WS_URL=ws://localhost:4000 #mqtt-broker
NEXT_PUBLIC_WS_SECRET=changeme #Must match WS_SECRET in mqtt-broker
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
NEXT_PUBLIC_BUGSINK_DNS= #copy paste
BUGSINK_SOURCEMAPS=false #true for production
BUGSINK_AUTH_TOKEN=
BUGSINK_URL=https://example.com
BUGSINK_SOURCEMAPS_SILENT=true