DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME #I will provide the connection string on the demo for my self-hosted TimescaleDB
DATACENTER_ID=0 #Short explanation: leave it be 0. Long: See "Twitter Snowflake ID"
MACHINE_ID=0 #Short explanation: leave it be 0. Long: See "Twitter Snowflake ID"
SERIAL_PORT=COM5 #For the MVP, it should work only on Windows. It's easily extendable to Linux & MacOS.
SERIAL_DELIMITER="\r\n" #IMPORTANT: change to \n, if message spliting is broken. I don't know the exact delimiter for the salt leak detector but \r\n is standart for Windows. When I buy a detector, I'll test it.
IS_REAL_DEVICE=false
TCP_HOST=127.0.0.1
TCP_PORT=3005 #Try a different port if taken
TCP_SEND_Hz=10
DEBUG=serialport* #I'd leave it on.