DB_URL=postgresql://
MQTT_USERNAME=sensor
MQTT_PASSWORD=changeme
MQTT_PORT=1883
WS_PORT=4000
WS_SECRET=changeme
BUGSINK_DSN=
# test websocket: bunx wscat -c "wss://domain.com?key=WS_SECRET"
# Coolify deploy: Ports Exposes (4000 & 1883) + https://domain.com:WS_PORT, Port mapping only for MQTT 1883:1883, for MQTT connect use ip:port - no domain
# bunx mqtt sub -h <ip> -p <port> -t '#' -u <channel> -P <password> -v