DB_URL=postgresql://
MQTT_USERNAME=sensor
MQTT_PASSWORD=changeme
MQTT_PORT=1883
WS_PORT=4000
WS_SECRET=changeme
BUGSINK_DSN=
# test websocket: bunx wscat -c "wss://domain.com?key=WS_SECRET"
# Coolify deploy: Ports Exposes + https://domain.com:WS_PORT, NO port mappings