BROKER_URL=mqtt://localhost:1883 #MQTT broker address
MQTT_USERNAME=sensor #Must match MQTT_USERNAME in mqtt-broker
MQTT_PASSWORD=changeme #Must match MQTT_PASSWORD in mqtt-broker
COMPANY_ID=acme #Your company identifier
LOCATION_ID=room-a #Physical location of this sensor
DATACENTER_ID=0 #Short explanation: leave it be 0. Long: See "Twitter Snowflake ID"
MACHINE_ID=0 #Short explanation: leave it be 0. Long: See "Twitter Snowflake ID"
SERIAL_PORT_LISTEN=COM11 #For the MVP, it should work only on Windows. It's easily extendable to Linux & MacOS.
SERIAL_PORT_SENDER=COM12
SERIAL_DELIMITER=\r\n #IMPORTANT: change to \n, if message splitting is broken. I don't know the exact delimiter for the salt leak detector but \r\n is standart for Windows. When I buy a detector, I'll test it.
IS_REAL_DEVICE=true
TCP_HOST=127.0.0.1
TCP_PORT=3000 #Try a different port if taken
TCP_SEND_Hz=10
FAIL_CHANCE=0 # Likelihood 0-100% to send error status when simulating a real device. 0 --> send no errors, 100 --> send only errors.
# DEBUG=serialport* #For dev purposes